body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: normal;
	margin: 0;
	color: #6c7279;
	-webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

/* Section */

.section {
	padding: 100px 0;
}

.section__review-full {
	max-width: 1940px;
	margin: 0 auto;
	padding-top: 0;
}

.section-download {
	padding-top: 0;
}


/* Conteiner */

.conteiner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */

.header {
	width: 100%;
	height: 100px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;

	border-bottom: 1px solid #4f5168;
}

.header__logo {
	text-transform: uppercase;
	font-size: 30px;
	
}

.logo__link {
	text-decoration: none;
	color: #fff;
}

.logo__color-blue {
	color: #66697e;
	font-weight: bold;
}

/* Header-fixed */

.header-fixed {
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
	background-color: #30344e;

	padding: 15px 0;
	height: auto;
}

.header-fixed .header__inner {
	padding: 0;
	border: 0;
}

/* Nav */

.nav {
	display: flex;
	flex-wrap: wrap;

}

.nav__link {
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	opacity: 0.75;
	transition: opacity .2s linear;

	margin: 0 25px;
	padding: 10px 0;

}

.nav__link:hover {
	opacity: 1;
}
.nav__link:first-child {
	margin-left: 0;
}

.nav__link.active {
	opacity: 1;
}

/* Nav-button */

.nav-button {
	background: none;
	border: none;
	

	width: 30px;
	height: 30px;
	padding: 0;

	position: relative;
	margin-right: 10px;

	cursor: pointer;

	display: none;

}

.nav-button:focus {
	outline: none;
}


.nav-button__item {
	position: absolute;
	width: 100%;
	height: 3px;
	top: 50%;
	left: 0;
	background-color: #fff;
	z-index: 1;
	display: block;

	font-size: 0;
	color: transparent;

	transition: background .2s linear;
}

.nav-button__item:before {
	content: "";
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 3px;
	top: -8px;
	left: 0;
	z-index: 2;

	transition: transform .2s linear;
}

.nav-button__item:after {
	content: "";
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 3px;
	top: 8px;
	left: 0;
	z-index: 2;

	transition: transform .2s linear;
}

.nav-button_active .nav-button__item {
	background: 0;
}

.nav-button_active .nav-button__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate(1px, -7px);
}

.nav-button_active .nav-button__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate(3px, 3px);
}




/* Intro */

.intro {
	display: flex;
	justify-content: center;
	flex-direction: column;

	min-height: 750px;
	padding-top: 100px;
	background: #2a2d48 url(../img/header-bg/bc-header_01.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;

}



.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;

	text-align: center;
	color: #fff;
}

.intro__title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 65px;
	text-transform: uppercase;
	line-height: 1.1;
	margin-bottom: 20px;
}

.intro__suptitle {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 70px;
}

/* Btn */

.btn {
	display: inline-block;

	font-family: inherit;
	text-decoration: none;
	color: #fff;
	vertical-align: top;

	background-color: #e84545;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-radius: 5px;

	transition: background-color .2s linear,
	border-color .2s linear;
	/*outline: none;*/
	border-top: none;
	border-bottom: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #b11a1a;
	border-color: #fff;
	
}


.btn.intro-btn {
	padding: 15px 40px;
}

.btn-download {
	padding: 15px 80px;
	outline: none;
}

/* Features */

.features {
}

.features__inner {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features__item {
	width: 33.333333%;
	text-align: center;
	padding: 0 40px 70px;
}

.features__item_padding-none {
	padding-bottom: 0;
}

.features__item_img {
	display: inline-block;
	margin-bottom: 30px;
}

.features__title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #2d3033;
	margin-bottom: 25px;
}

/* Projects */

.projects {
	display: flex;
	flex-wrap: wrap;
	max-width: 2220px;
	margin: 0 auto;
}

.projects__item {
	width: 25%;
	height: auto;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

.projects__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top:50%;
	left: 0;
	z-index: 2;

	color: #fff;
	background-color: rgba(232, 69, 69, .9);
	transform: translate3d(0, -50%, 0);

	opacity: 0;
	transition: opacity .2s linear;
	overflow: hidden;
}

.projects__item:hover .projects__content {
	opacity: 1;
}

.projects-img {
	display: block;
}

.projects__title {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.projects__suptitle {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* Team */

.team {
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
}

.team__item {
	width: 25%;
	padding: 10px;
}

.team-img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 270px;
	margin-bottom: 25px;
}

.team__name {
	font-weight: 400;
	font-size: 18px;
	color: #2d3033;
	margin-bottom: 10px;
}

.team__post {
	text-transform: uppercase;
	color: #e84545;
	margin-bottom: 30px;
}

.team__text {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 50px;
}


/* Social */



.social__item {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid #c6cacc;
	text-align: center;
	font-size: 20px;

	transition: border-color .2s linear;
}

.social__item:hover {
	border-color: #e84545;
}

.social-link {
	display: inline-block;
	text-decoration: none;
	padding: 7px 10px;
}

.fab {
	color: #c6cacc;
}

.social-footer .social__item .social-link .fab {
	color: #fff;
}

.social-footer .social__item {
	border: 2px solid #fff;
	margin-left: 7px;
}

.social-footer .social__item:first-child {
	margin-left: 0;
}

/* Reviews */

.reviews {
	
}

.reviews__item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.reviews__img {
	max-width: 50%;
}

.reviews__img img {
	display: block;
	width: 100%;
}

.reviews__content {
	max-width: 50%;
	background-color: #53354a;
	padding: 80px 15px 0 75px;
	position: relative;
}

.reviews__text {
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 36px;
	color: #fff;
	margin-bottom: 20px;
}

.reviews__post {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1;
	text-transform: uppercase;
	font-style: normal;
}

.reviews__slick {

}

.slick-dots {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	bottom: 10px;
	left: 55%;
	z-index: 1;
}

.slick-dots li {
	margin: 5px;
}

.slick-dots button {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	padding: 0;
	opacity: 0.5;

	font-size: 0;
	color: transparent;
	cursor: pointer;
}

.slick-dots button:focus {
	outline: 0;
}

.slick-dots .slick-active button {
	opacity: 1;
}

/* Download */

.download {
	text-align: center;
}

.download__title {
	font-family: inherit;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}

.download__text {
	font-family: inherit;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

/* Footer */

.footer {
	text-align: center;
	width: 100%;

	background-color: #3a3e64;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;
	padding: 65px 0 90px 0;
}

.footer__item {
	width: 33.3333%;
	display: block;
}

.footer-link {
	text-decoration: none; 
	color: inherit;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer__content {
	max-width: 340px;
}

.footer__title {
	font-style: inherit;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;

	color: #fff;
	margin-bottom: 15px;
}

.footer__text {
	color: #898b9f;
	line-height: 1.7;
}

/* Copyright */

.copyright {
	padding: 33px 0;
	background-color: #313454;
}

.copyright__text {
	font-size: 14px;
	color: #808080;
}

.fa-heart {
	color: #e84545;
	padding: 0 5px;
}

.copyright-link {
	text-decoration: none;
	color: #fff;;
}

.copyright-link:hover {
	text-decoration: underline;
}




@media (max-width: 1230px) {


	/* Reviews */

	.reviews__item {
		font-size: 30px;
	}

	.reviews__content {
		padding: 50px 25px 0 50px;
	}

	.reviews__text {
		font-size: 30px;
	}

	/* Team */

	.team {

	}


	.team__item {
		text-align: center;
		margin: 0;
		width: 50%;
		padding: 0 0 35px 0;
	}

	.team__item:nth-child(3) {
		padding-bottom: 0;
	}

	.team__item:nth-child(4) {
		padding-bottom: 0;
	}

	.team-img {
		display: inline-block;
	}

	.team__content {
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding: 0 30px;
	}

	.team__name {
		font-size: 24px;
	}

	.team__post {

	}

	.team__text {
		width: 100%;
		font-size: 15px;
		line-height: 1.5;
	}

}




@media (max-width: 990px) {
	/* Section */

	.section {
		padding: 60px 0;
	}

	.section__review-full {
		padding: 0;
	}

	/* Intro */

	.intro {
		padding-top: 0;
	}


	/* Nav */

	.nav {
		/*display: none;*/
		width: 100%;
		margin: 0;

		position: absolute;
		top: 99%;
		right: 0;
		right: -100%;
		z-index: 100;
		background-color: #30344e;
		text-align: center;

		border-bottom: 1px solid #fff;

		transition: all .4s linear;
	}

	.nav.nav_active {
		flex-wrap: wrap;
		right: 0;
		display: block;
		padding-bottom: 10px;

	}

	.nav__link {
		display: block;
		width: 100%;
		color: #fff;
		margin: 0 10px;
	}

	.nav__link:first-child {
		margin: 0 10px;
	}


	/* Nav-button */

	.nav-button {
		display: block;
	}

	/* Projects */

	.projects__item {
		width: 50%;
	}

	/* Reviews */

	.reviews__item {
		font-size: 20px;
	}

	.reviews__content {
		padding: 50px 25px 0 50px;
	}

	.reviews__text {
		font-size: 20px;
	}

	.reviews__post {
		font-size: 10px;
	}

	/* Footer */

	.footer__inner {
		padding: 50px 0 50px 0;
	}

}




@media (max-width: 770px) {

	/* Intro */

	.intro {
		min-height: 550px;
	}

	.intro__title {
		font-size: 45px;
	}

	.intro__suptitle {
		font-size: 18px;
	}

	/* Features */

	.features__item {
		width: 50%;
		padding: 0 30px 50px
	}

	.features__item_padding-none {
    padding-bottom: 0;
	}

	/* Reviews */

	.reviews__item {
		font-size: 17px;
	}

	.reviews__content {
		padding: 25px 25px 0 25px;
	}

	.reviews__text {
		font-size: 18px;
	}

	.reviews__post {
		font-size: 8px;
	}

}


@media (max-width: 575px) {

	/* Header */

	.header__logo {
		font-size: 18px;
	}

	.header__inner {
		border-bottom: none;	
	}

	/* Intro */

	.intro {
		min-height: 667px;
	}

	.intro__title {
		font-size: 28px;
	}

	.intro__suptitle {
		font-size: 15px;
	}

	/* Features */

	.features__item {
		width: 100%;
		height: auto;
		text-align: center;
	}

	.features__image {
		
	}

	.features__item_img {
		display: inline-block;		
	}

	.features__item_padding-none {
    padding-bottom: 50px;
	}

	.features__item_padding-none:last-child {
		padding-bottom: 0;
	}

	.features__title {
		margin-bottom: 10px;
	} 

	.features__content {
		line-height: 1.7;
	}

	/* Projects */

	.projects {
		max-width: 96%;
	}

	.projects__item {
		width: 100%;
		align-content: center;
		border-bottom: 2px solid #fff;
	}

	/* Team */

	.team__item {
		width: 100%;
	}

	.team__item:nth-child(3) {
		padding-bottom: 35px;
	}

	/* Rewiews */


	.reviews__img{
		max-width: 100%;
	}



	.reviews__content {
		display: block;
		max-width: 100%;
		padding: 15px 15px 40px;
	}

	.reviews__text {
		margin-bottom: 10px;
	}

	.slick-dots {
		left: 50%;
		transform: translateX(-50%);
	}




	/* Download */

	.download__title {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.btn-download{
		font-size: 18px;
	}

	/* Footer */

	.footer__inner {
    padding: 50px 0 10px 0;
	}

	.footer__item {
		width: 100%;
		margin-bottom: 25px;
	}

	.footer__content {
		min-width: 100%;
	}


}